@page
@model IndexModel
@{
}
<div class="text-center">
    <h3 class="display-4">Integrated Inventory </h3>
    <!--<h4 class="display-4"> By: nVirtua Int'l </h4>-->

    <p>@DateTime.Today.ToShortDateString()</p>
</div>
